header {
  background-color: black;
  color: white;
  height: 60px;
}

h1 {
  font: bold 2em sans-serif;
  color: white;
  padding: 1%;
}

h3 {
  color: black
  font-weight: medium;
  text-align: left;
}

.login {
  background-color: olivedrab;
  float: right;
  height: 100%;
  width: 8%;
  display: flex;
}

h4{
  color: white;
  font-family: sans-serif;
  vertical-align: middle;
  margin: auto;
}

nav {
  background-color: midnightblue;
  color: white;
  padding: 1%;
  border-top: 2px solid white;
  font-family: sans-serif;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li.menu {
  padding: 2px;
  margin: .5% 8%;
}

.hero {
  background: #fff url("../images/1.jpg") no-repeat center;
  background-size: cover;
  height: 65vh;
}

p {
  padding: 1%;
  font-family: sans-serif;
}

.featured{
  display: flex;
  flex-direction: row;
}

.place{
  width: 30%;
  height: 200px;
  margin: auto;
  overflow: hidden;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
}

.image {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 50px;
}

section {
  padding: 2%;
}

.text {
  background-color: black;
  color: white;
}
